body {
    background-image: url("MinecraftBG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
}

h1 {
	border-radius: 10px;
	width: fit-content;
	padding: 10px 20px;
   	margin: 170px auto auto;
}

h3 {
    display: inline-block;
    margin: auto 10px;
}

span {
    font-weight: 700;
}

#cabecalho {
	border-radius: 10px;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
}

#myCanvas {
    border-width: 10px;
    border-style: ridge;
    border-color: green;
    background-color: #fff;
}

.canvas-container {
    margin:auto;
}

.block {
    width: 30px;
}

.btn {
    border-radius: 10px;
	width: fit-content;
	padding: 10px 20px;
    margin: 20px auto auto;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
}

#instructions {
	border-radius: 10px;
	width: fit-content;
	padding: 10px 20px;
    position: fixed;
    top: 100px;
    left: 10px;
    z-index: 9999;
}

strong {
    font-size: 20px;
}